.circle, .rotator{
    left: 50%;
    transform: translateX(-50%);
}

.down{
    transform: rotate(180deg);
}
.rotator{
    transition: transform 2s ease;
}

.panel{
    height : calc(100vh - 56px);
}

.plateform{
    border-radius: 50%;
    width: 335px;
    height: 335px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.services .plateform, .contact .plateform, .service-card{
    background-color: #57BEE6;
}

.sub-input input, .sub-input input:focus{
    background-color: inherit;
    outline: none;
    border: none;
    box-shadow: none;
}

#container3D{
    position: fixed;
    inset: 0;
    z-index: 9;
    pointer-events: none;
}